/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 8:04:43 PM
    Author     : Arun

*/

h1{
    font-size: 140%;
    color: #48C9B0;
    margin-bottom: .5em;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50em;
}
th, td {
    border: 1px solid black;
    text-align: left;
    padding: .5em;
}
input[type="submit"]{
    margin-top: 1em;
    
}
label{
  display: inline-block;
  width: 140px;
  text-align: left;
  font-weight: bold;
}
.description{
    width: 300px;
}
.block{
    margin-bottom:10px;
}
.buttons{
    margin-left: 145px;
}
body{
    margin-left: 15px;
}
.delete{
    width: 50px;
}


